/*
palette:
1C29B2 727EFF 5967FF B2921B FFDC59
*/

p {
	color: red;
}

body {
	font-family: 'Roboto', sans-serif;
}

.w-button{
	background-color: #5967FF;
	border-style: none;
	color:white;
	padding: 5px 10px 5px 10px;
	border-radius: 30px;
	border: #53567F;
	cursor: pointer;
}

.w-button-icon{
	background-color: #5967FF;
	border-style: none;
	color:white;
	padding: 5px 10px 5px 10px;
	border-radius: 30px;
	border: #53567F;
	cursor: pointer;
}

.w-button:hover {
	background-color: #A5ADFF;
}

.w-select{
	color: white;
	background-color: #5967FF;
	padding: 5px 10px 5px 10px;
	border-style: none;
	border-radius: 12px 12px 0px 0px;
	cursor: pointer;
}

.w-option:hover, .w-option:checked, .w-option:focus{
	background-color: #1C29B2;
}

/*.w-menu {*/
	/*border-bottom: #727EFF 1px solid;*/
	/*display: inline-flex;*/
	/*padding: 0px 15px 0px 15px;*/
	/*width: 100%;*/
/*}*/
.w-menu {
	background-color: #727EFF;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

.w-menu-item {
	background-color: #727EFF;
	margin: 0px auto 0px auto;
	padding: 5px 0px 5px 0px;
	width: 100%;
	border-right: 1px solid #1C29B2;
	flex: 1 1;
	list-style: none;
	text-align: center;
}
.w-menu-item:last-child {
	border-right: 0px;
}

/*.w-menu-item {*/
	/*background-color: #727EFF;*/
	/*margin: 0px auto 0px auto;*/
	/*padding: 5px 10px 5px 10px;*/
	/*border-radius: 12px 12px 0px 0px;*/
/*}*/

.w-menu-item:hover {
	background-color: #5967FF;
	cursor: pointer;
}

@media (max-width: 320px) {
	.w-menu {
		flex-direction: column;
	}

	.w-menu-item {
		border-bottom: 1px solid #1C29B2;

		border-right: 0px;
	}
	.w-menu-item:last-child {
		 border-bottom: 0px solid #1C29B2;
	 }
}